<header class="header">
  <a href="{{user-url}}" class="header__user">{{username}}</a>
  <a href="/logout" class="header__logout">Logout</a>
  <h1 class="header__orgname">{{organisation}}</h1>
</header>
